@import 'vars';

:host,
app-feed {
  display: block;

  .app-feed__input-container {
    margin-bottom: 1rem;
    box-shadow: $box-shadow;

    .app-feed__input {
      display: block;
      font-size: 1rem;
      width: 100%;
      border: none;
      padding: $padding;
    }

  }

  app-feed-card {
    margin-bottom: 1rem;
  }
}
